.home-page {
	margin-top: 32px;
	display: grid;
	grid-template-columns: 280px 1fr;
	// background-color: rgb(255, 243, 221);
	min-height: 60vh;
	border-radius: 5px;
	border: 1px solid rgba(#000, 0.1);
}
