.main-app-bar {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	grid-gap: 32px;
	align-items: center;
	height: 72px;
	background-color: beige;
	font-size: 22px;

	.welcome-message {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	.user-img {
		height: 48px;
		width: 48px;
		border-radius: 50%;
		object-fit: cover;
		object-position: top center;
	}

	.nav-link {
		&.active-nav {
			background-color: mediumaquamarine;
		}
	}
}
