.loading-span {
	width: 18px;
	height: 18px;
	background-color: transparent;
	border: 3px solid;
	border-color: #fff #fff #fff transparent;
	border-radius: 50%;
	display: inline-block;
	animation: one-turn 1s linear infinite;

	@keyframes one-turn {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(1turn);
		}
	}
}
