.signup-form {
	display: grid;
	justify-content: center;
	margin-top: 42px;
	grid-gap: 22px;
	label {
		display: grid;
		justify-items: center;
	}
	.user-uploaded-img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
		object-position: top center;
	}
	input:not([type="file"]) {
		height: 62px;
		width: 300px;
		font-size: 18px;
		padding: 2px 12px;
	}
	button {
		width: 132px;
		height: 62px;
		font-size: 18px;
		text-transform: uppercase;
	}
}
